@import '../../general';

.NativeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  .content-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 500ms ease;
    &-enter {
      transform: scale(0);
      opacity: 0;
    }
    &-enter-active {
      transform: scale(100%);
      opacity: 1;
    }
    &-exit-active {
      transform: scale(0);
      opacity: 0;
    }
  }
  .VideoArea {
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    .VideoPlayer {
      background: var(--color-element);
      border-radius: .75rem;
      min-width: 35vw;
      max-width: 720px;
      margin: .5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (orientation: landscape) {
  .NativeContent {
    height: calc(100% - 85px);
    padding-right: 4rem;
  }
}

@media (orientation: portrait) {
  .NativeContent {
    height: calc(100% - 85px - 4rem);
  }
}