@import '../../general';

.VideoArea {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  &.native {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .VideoPlayer {
    background: var(--color-element);
    border-radius: .75rem;
    min-width: 50vw;
    max-width: 720px;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &.native {
      background: none;
      margin: 0;
      max-width: 480px;
      .VideoWrapper {
        background: var(--color-element);
      }
    }
    .VideoWrapper {
      position: relative;
      display: flex;
      align-items: center;
      transform: translateZ(.35px);
      -webkit-transform: translateZ(.35px);
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
    }
  }
}

@media only screen and (max-width: 880px) {
  .VideoArea {
    flex-direction: column;
    align-items: center;
    .VideoPlayer {
      background: none;
      max-width: 480px;
    }
  }
}