@import '../../../general';

.HybridChat {
  width: 900px;
  height: 80vh;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  .ChatOverview {
    border-right: 2px solid var(--color-accent);
    padding: .75rem;
  }
  .Chat {
    padding: .75rem;
    flex-grow: 1;
  }
}